#question_header
  %h1
    = @question.title
%table#post_table
  %tr
    %td.vote
      .vote_up
        = link_to '^', post_votes_path(:post_id => @question.id, :rating => 'up'), :remote => true, :method => :post
      .rating{:id => dom_id(@question, :rating) }
        =@question.rating
      .vote_down
        = link_to 'V', post_votes_path(:post_id => @question.id, :rating => 'down'), :remote => true, :method => :post
      #vote_star
        = link_to (current_user && current_user.question_favourite?(@question)) ? '!*!' : '*', favourite_questions_path(:question_id => @question.id), :remote => true, :method => :post
    %td.question
      = render_markdown @question.text
      .tags
        = render @question.tags
      .creation_info
        %div.created_at= time_ago @question.created_at
        %a= @question.user.name
      = link_to 'Edit', edit_question_path(@question)
      = link_to 'Back', questions_path
      %div.clear

%div.answers
  %div.answers_header
    %h1
      #{@question.answers.count} Ответов
  = render @question.answers

%div
  = form_for([@question, @question.answers.new]) do |f|
    = f.label :text, 'Ответ'
    = f.text_area :text
    %br
    = f.submit
