.answer
  %table#post_table
    %tr
      %td.vote
        .vote_up
          = link_to '^', post_votes_path(:post_id => answer.id, :rating => 'up'), :remote => true, :method => :post
        .rating{:id => dom_id(answer, :rating) }
          =answer.rating
        .vote_down
          = link_to 'V', post_votes_path(:post_id => answer.id, :rating => 'down'), :remote => true, :method => :post
        .vote_accepted
          %a
            []
      %td.post
        = render_markdown answer.text
        .creation_info
          %div.created_at= time_ago answer.created_at
          %a= answer.user.name
        %div.clear