<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "Answers" %></title>
    <%= stylesheet_link_tag :flutie, 'application' %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
    <%= javascript_include_tag 'rails' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
      <div id="userMenu">
            [<%= link_to "Главная", root_path %>]
        <% if user_signed_in? %>
            [<%= link_to "Выйти", destroy_user_session_path %>]
            [<%= link_to "Избранное", favourite_questions_path %>]
        <% else %>
            [<%= link_to "Войти", new_user_session_path %>]
        <% end %>
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
  </body>
</html>
